@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

.navbar, body {
    
  background: -webkit-linear-gradient(180deg, #1155bb 10%, #1177dd 90%); /* Chrome 10+, Saf5.1+ */
  background:    -moz-linear-gradient(180deg, #1155bb 10%, #1177dd 90%); /* FF3.6+ */
  background:     -ms-linear-gradient(180deg, #1155bb 10%, #1177dd 90%); /* IE10 */
  background:      -o-linear-gradient(180deg, #1155bb 10%, #1177dd 90%); /* Opera 11.10+ */
  background:         linear-gradient(180deg, #1155bb 10%, #1177dd 90%); /* W3C */
        
}